:root {
  --brand-color: #7ca2f4;
  --dark: #121214;
  --white-soft: #f3f7ff;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--brand-color);
}

h1 {
  margin: 60px 0 40px 0;
}

.box,
form {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 250px;
  height: 25px;
  border-radius: 30px;
  padding-left: 15px;
}

button{
    width: 150px;
    height: 25px;
    border-radius: 30px;
}
